.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub-heading {
  text-align: center;
}

.name {
  background-color: #2F4F4F;
  color: white;
  margin: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 100px;
  font-weight: bold;
  
}

.details {
background-color: #2F4F4F;
color: white;
height: 200px;
text-decoration: none;
text-align: center;
padding-top: 30px;
width: 50%;
margin: 0 auto;
}

.return {
  background-color: #2F4F4F;
  color: white;
  text-decoration: none;
  text-align: center;
}